h2 {
    font: 2.5em "Century Gothic", Futura, sans-serif;
    margin: 100px;
  }
h1 {
  font: 3em "Century Gothic", Futura, sans-serif;
  margin: 100px;
}
button {
  background-color: #c5d1c5;
  border: none;
  color: black;
  padding: 20px 90px;
  text-align: center;
  display: inline-block;
  font: 2em "Century Gothic", Futura, sans-serif;
  margin: 100px;
}